<!DOCTYPE html><html lang="">
    <head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" href="/favicon.ico"><title>vue-3-crud</title><link href="/css/chunk-0a9c9d30.f33e8621.css" rel="prefetch"><link href="/css/chunk-3b05d1af.465f69d9.css" rel="prefetch"><link href="/css/chunk-7aaf158d.fb5b51ec.css" rel="prefetch"><link href="/js/chunk-0a9c9d30.17ec3475.js" rel="prefetch"><link href="/js/chunk-0aaa996e.6a084f7d.js" rel="prefetch"><link href="/js/chunk-3b05d1af.b9123305.js" rel="prefetch"><link href="/js/chunk-7aaf158d.9a3b32f4.js" rel="prefetch"><link href="/css/chunk-vendors.63c5e34a.css" rel="preload" as="style"><link href="/js/app.cf2be3a5.js" rel="preload" as="script"><link href="/js/chunk-vendors.1fc20884.js" rel="preload" as="script"><link href="/css/chunk-vendors.63c5e34a.css" rel="stylesheet">
    </head><body><noscript><strong>We're sorry but vue-3-crud doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
<div id="app"></div>


<script src="/js/chunk-vendors.1fc20884.js"></script>
<script src="/js/app.cf2be3a5.js"></script></body></html>
